extends ../temp

block scripts
    script.
        window.proj = undefined;
        window.projDiv = undefined;
        window.renderer = getTableRenderer({
            columns : [
                { title : "id", key : "id" },
                { title : "name", key : "name" },
                { title : "owner", renderer : p => `${p.username}(${p.owner})` },
                { title : "status", renderer : p => `<span class="${p.running ? "text-success" : "text-danger"}">${p.running ? "Running" : "Stopped"}</span>` },
                { title : "cid", renderer : p => `<span data-toggle="tooltip" data-placement="bottom" title="Click to copy full cid: '${p.containerId}'" onclick="$.toClipboard('${p.containerId}')">${p.containerId.substring(0, 7)}</span>` },
                { title : "port", key : "port" },
                { title : "op", renderer : p => `${!p.running ? `<a href="javascript:void(0)" onclick="launchProject(${p.id})">Launch</a>` : `<a href="javascript:void(0)" onclick="stopProject(${p.id})">Stop</a>`}` },
                { title : "op dangerous", renderer : p => `<a href="javascript:void(0)" onclick="deleteProject(${p.id}, false)">Delete</a> <a href="javascript:void(0)" onclick="deleteProject(${p.id}, true)">Archive</a>`  }
            ]
        });

        $(function () { $("[data-toggle='tooltip']").tooltip(); });

        function dispProjList(list) {
            if (window.proj) window.proj.remove();
            if (!window.projDiv) window.projDiv = $("div#proj")[0];

            window.proj = $(renderer(list));
            window.proj.appendTo(window.projDiv);
        }

        function refreshProjList() {
            $.ajax({
                type : "POST",
                url : "/apisuper/get_all_projects",
                dataType : 'json',
                success : function(data) { 
                    dispProjList(data);
                },
                error : function(xhr, err) { 
                    dispProjList([]);
                    console.log(xhr.responseText);
                }
            });
        }

        function stopAllProj() {
            $.ajax({
                type : "POST",
                url : "/apisuper/stop_all_projects",
                dataType : 'json',
                success : function(data) { 
                    refreshProjList();
                },
                error : function(xhr, err) { 
                    refreshProjList();
                    console.log(xhr.responseText);
                }
            });
        }

        function refreshButtonClicked() {
            $('button#refresh').attr('disabled', true);
            refreshProjList();
            setTimeout(function() { 
                $('button#refresh').attr('disabled', false); 
            }, 1000);
        }

        function stopallButtonClicked() {
            $('button#stopall').attr('disabled', true);
            stopAllProj();
            setTimeout(function() { 
                $('button#stopall').attr('disabled', false); 
            }, 1000);
        }

        window.onload = function() { refreshProjList(); }

        function projOperationSucceeded() {
            errmsg.close();
            refreshProjList();
        }

        function launchProject(pid) {
            $.post("/api/launch_project", { pid : pid }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else errmsg.pop(error);
            });
        }

        function stopProject(pid) {
            $.post("/api/stop_project", { pid : pid }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else errmsg.pop(error);
            });
        }

        function deleteProject(pid, archive) {
            $.post("/api/delete_project", { pid : pid, archive : archive }, function (data) {
                if (data.succeeded) projOperationSucceeded();
                else errmsg.pop(error);
            });
        }

block title
    h1 List of projects

block control
    button.btn#refresh(onclick="refreshButtonClicked()") Refresh
    | &nbsp;
    button.btn.btn-primary#stopall(onclick="stopallButtonClicked()") Stop All

block canvas
    #proj
